.containerEmployees{
    margin: auto;
    text-align: center;
    width: 100%;
    height: auto;
}

.inputSearch{
    text-align: center;
    font-variant: small-caps;
}

.ctnList{
    text-align: left;
    width: 150px;
}

.ctnList li{
    list-style:none;
}

.containerTable{
    width: 500;
    height: 400;
    margin: auto;
}