.containerEmployees{
    margin: auto;
    margin-top: 3%;
    text-align: center;
    width: 100%;
    height: auto;
}

.containerPayroll{
    margin-top: 3%;
}
.containerHolidays{
    margin-top: 3%;
}

.ctnList{
    text-align: left;
    width: 150px;
}

.ctnList li{
    list-style:none;
}

.containerTable{
    width: 500;
    height: 400;
    margin: auto;
}