.containerEmployees{
    margin: auto;
    width: 100%;
    height: 100%;
}

.inputSearch{
    text-align: right;
}

.ctnList{
    text-align: left;
    width: 150px;
}

.ctnList li{
    list-style:none;
}