.containerFormEmployee{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.ctnfemployy{
    margin: auto;
    width: 490px;
    max-width: 490px;
    min-width: 320px;
	box-shadow: 5px 20px 50px #000;
}

.formEmployee{
    background-color: rgba(220, 247, 247, 0.288);
    padding: 10%;
}
.cntILForm{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.formEmployee button{
    width: 150px;
    margin-top: 2%;
}



.contenedorText {
	margin: auto;
    display: inline;
	width: 700px;
	height: 40px;
	color: red;
	font-size: 35px;
	line-height: 40px;

	overflow: hidden;
	
}

.contenedorText p {
	margin: 0;
    margin-bottom: 3%;
    font-variant: small-caps;
}

@media (max-width: 840px) {
    .ctnfemployy{
        margin: auto;
        width: 300px;
        box-shadow: 5px 20px 50px #000;
    }
}