.containerHome{
    text-align: center;
}

.ctnBannerHome{
    display: inline-block;
    width: 350px;
	height: 500px;
    max-width: 490px;
    min-width: 320px;
    margin-right: 1%;
    margin-bottom: 5%;
	box-shadow: 5px 20px 50px #000;
}

.ctnBannerHome h1{
    padding: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 5%;
}

.ctnBannerImage img{
    width: 350px;
    height: 200px;
}

.ctnBannerImage.center img{
    width: 350px;
    height: 300px;
}

